<h1> About </h1>

<ul>
  Hey... this is meeeee......   I like stuffffff.......
</ul>


<footer>
  <a href="/index">Home</a>
  |
  <a href="/contacts">Contacts</a>
  |
  <a href="/about">About</a>
</footer>
