<h1> Contacts </h1>

<ul>
  <% @contacts.each do |contact|%>
  <li> <%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.note %> </li>
  <%end %>
</ul>


<footer>
  <a href="/index">Home</a>
  |
  <a href="/contacts">Contacts</a>
  |
  <a href="/about">About</a>
</footer>
